name: Cypress Tests

on: [push, pull_request]

permissions:
  contents: read
  pull-requests: write

jobs:
  cypress-run:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: npm

      - name: Cypress run
        uses: cypress-io/github-action@v6
        with:
          build: npm run docs:build
          start: npm run ci
